<button class="boton-chat" (click)="alternar()">
  <i class="bi bi-stars"></i>
</button>

<div class="ventana-chat" [class.abierta]="estaAbierta">
  <div class="encabezado">
    <span>Asistente</span>
    <div class="encabezado-botones">
      <!-- Botón de info -->
      <button class="boton-info"
              (mouseenter)="mostrarInfo()"
              (mouseleave)="mostrarInfo()">
        <i class="bi bi-info-circle"></i>
      </button>

      <div class="tooltip-info" [class.show]="infoVisible">
        <strong>¿Qué puedo hacer?</strong>
        <ul>
          <li>Puedo responder preguntas relacionadas con la liga de tenis.</li>
          <li>Puedo responder preguntas como "¿Cuántos equipos hay inscritos?" o "¿Que jugadores hay?"</li>
          <li>También puedo proporcionar datos estadísticos para intentar predecir partidos que se jugarán próximamente.</li>
        </ul>
      </div>

      <button class="boton-cerrar" (click)="alternar()">✕</button>
    </div>
  </div>

  <div class="cuerpo">
    <div
      *ngFor="let mensaje of mensajes"
      class="envoltorio-mensaje"
      [ngClass]="mensaje.de"
    >
      <div class="burbuja">
        {{ mensaje.texto }}
      </div>
    </div>
  </div>

  <div class="pie">
    <input
      type="text"
      [(ngModel)]="entrada"
      (keyup.enter)="enviar()"
      placeholder="Escribe tu pregunta…"
    />
    <button (click)="enviar()">Enviar</button>
  </div>
</div>
