<app-navbar></app-navbar>
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-6">
            <h3 class="mt-5">Listado de Colegios</h3>
        </div>
        <div class="col-lg-6" *ngIf="auth.isColegio() || auth.isAdmin()">
            <button class="btn btn-success float-end mt-5" routerLink="/agregarColegio">Nuevo colegio</button>
        </div>
    </div>
    
    <table *ngIf="listColegios.length > 0" class="table table-hover mt-3">
        <thead>
            <tr>
                <td> <strong>Nombre</strong> </td>
                <td> <strong>Número de Jugadores</strong> </td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let colegio of listColegios">
                <td>
                    <a [routerLink]="['/verColegio', colegio.id]"> {{ colegio.nombre }} </a> 
                </td>
                <td>{{ colegio.numeroJugadores }}</td>
                <td style="width: 10%;" *ngIf="auth.isColegio() || auth.isAdmin()">
                    <button [routerLink]="['/editarColegio', colegio.id]" class="btn btn-primary">Editar</button>
                </td>
                <td style="width: 10%;" *ngIf="auth.isColegio() || auth.isAdmin()">
                    <button (click)="eliminarColegio(colegio.id)" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="listColegios.length == 0" class="row mt-5">
        <h5>No hay colegios para mostrar</h5>
    </div>
</div>