<app-navbar></app-navbar>

<div class="tabla-wrapper">
  <div class="seccion-titulo">
    <h3>Listado de Colegios</h3>
    <div class="acciones-titulo" *ngIf="auth.isColegio() || auth.isAdmin()">
      <button class="btn btn-success" routerLink="/agregarColegio">Nuevo colegio</button>
    </div>
  </div>

  <table *ngIf="listColegios.length > 0" class="tabla-colegios">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Número de Jugadores</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let colegio of listColegios">
        <td><a [routerLink]="['/verColegio', colegio.id]">{{colegio.nombre}}</a></td>
        <td>{{colegio.numeroJugadores}}</td>
        <td *ngIf="auth.isColegio() || auth.isAdmin()">
          <button class="btn btn-primary btn-sm" [routerLink]="['/editarColegio', colegio.id]">Editar</button>
        </td>
        <td *ngIf="auth.isColegio() || auth.isAdmin()">
          <button class="btn btn-danger btn-sm" (click)="eliminarColegio(colegio.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="listColegios.length === 0" class="row mt-5">
    <h5>No hay colegios para mostrar</h5>
  </div>
</div>
  