<app-navbar></app-navbar>

<div class="perfil-partido" *ngIf="partido">
  <div class="encabezado-partido">
    <h2 class="titulo-partido">
      {{ partido.fecha | date : "dd/MM/yyyy" }}
    </h2>
    <p class="equipos-partido">
      {{ partido.nombreLocal }} vs {{ partido.nombreVisitante }}
    </p>
  </div>

  <div class="detalles-partido">
    <div class="elemento-detalle">
      <span class="etiqueta">Fecha</span>
      <span class="valor">{{ partido.fecha | date : "dd/MM/yyyy" }}</span>
    </div>
    <div class="elemento-detalle">
      <span class="etiqueta">Lugar</span>
      <span class="valor">{{ partido.lugar }}</span>
    </div>
    <div class="elemento-detalle">
      <span class="etiqueta">Detalles</span>
      <span class="valor">{{ partido.detalles }}</span>
    </div>
    <div class="elemento-detalle">
      <span class="etiqueta">Resultado</span>
      <span class="valor">
        <ng-container
          *ngIf="
            partido.resultadoLocal !== null &&
              partido.resultadoVisitante !== null;
            else noJugado
          "
        >
          {{ partido.nombreLocal }} {{ partido.resultadoLocal }} –
          {{ partido.nombreVisitante }} {{ partido.resultadoVisitante }}
        </ng-container>
        <ng-template #noJugado>Partido no jugado aún</ng-template>
      </span>
    </div>
  </div>

  <div class="botones-partido">
    <button
      *ngIf="partido.lat"
      class="btn btn-outline-primary boton-ubicacion"
      (click)="viewOnMap()"
    >
      Ver ubicación
    </button>
    <button class="btn btn-secondary boton-volver" routerLink="/Partidos">
      Volver
    </button>
  </div>
</div>
