<app-navbar></app-navbar>

<div class="tabla-wrapper">
    <div class="seccion-titulo">
        <h3>Listado de Jugadores</h3>
        <div class="acciones-titulo" *ngIf="auth.isColegio() || auth.isAdmin()">
            <button class="btn btn-success" routerLink="/agregarJugador">
              Inscribir Nuevo Jugador
            </button>
        </div>
    </div>
    
    <table *ngIf="listJugadores.length > 0" class="tabla-jugadores">
        <thead>
            <tr>
                <th>Nombre y Apellidos</th>
                <th>Edad</th>
                <th>Colegio</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jugador of listJugadores">
                <td>
                    <a [routerLink]="['/verJugador', jugador.id]"> {{ jugador.nombre }} {{ jugador.apellidos }} </a> 
                </td>
                <td>{{ jugador.edad }}</td>
                <td>{{ colegios[jugador.colegioId] }}</td>
                <td style="width: 10%;">
                    <button [routerLink]="['/editarJugador', jugador.id]" class="btn btn-primary btn-sm" *ngIf="auth.isColegio() || auth.isAdmin()">Editar</button>
                </td>
                <td style="width: 10%;">
                    <button (click)="eliminarJugador(jugador.id)" class="btn btn-danger btn-sm" *ngIf="auth.isColegio() || auth.isAdmin()">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="listJugadores.length == 0" class="row mt-5">
        <h5>No hay jugadores para mostrar</h5>
    </div>
</div>
