<h2 mat-dialog-title class="title">{{ accion }}</h2>

<mat-dialog-content>
  <div *ngIf="data.id" class="equipos">
    {{ localNombre }} vs {{ visitanteNombre }}
  </div>

  <form [formGroup]="agregarPartido" (ngSubmit)="agregarEditarPartido()" [ngClass]="{ 'read-only': !isEditor }">

    <mat-form-field appearance="fill" class="full">
      <mat-label>Fecha</mat-label>
      <input matInput formControlName="fecha" type="date" [readonly]="!isEditor"
      [ngClass]="{ 'readonly-input': !isEditor }"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full">
      <mat-label>Lugar</mat-label>
      <input matInput formControlName="lugar" [readonly]="!isEditor"
      [ngClass]="{ 'readonly-input': !isEditor }"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full">
      <mat-label>Detalles</mat-label>
      <input matInput formControlName="detalles" [readonly]="!isEditor"
      [ngClass]="{ 'readonly-input': !isEditor }"/>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half">
      <mat-label>Colegio Local</mat-label>
      <ng-container *ngIf="isEditor; else viewLocal">
        <mat-select formControlName="localId">
          <mat-option *ngFor="let c of colegios" [value]="c.id">
            {{ c.nombre }}
          </mat-option>
        </mat-select>
      </ng-container>
      <ng-template #viewLocal>
        <input matInput [value]="localNombre" disabled>
      </ng-template>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half">
      <mat-label>Colegio Visitante</mat-label>
      <ng-container *ngIf="isEditor; else viewVisitante">
        <mat-select formControlName="visitanteId">
          <mat-option *ngFor="let c of colegios" [value]="c.id">
            {{ c.nombre }}
          </mat-option>
        </mat-select>
      </ng-container>
      <ng-template #viewVisitante>
        <input matInput [value]="visitanteNombre" disabled>
      </ng-template>
    </mat-form-field>

    <div class="resultados" *ngIf="data.id">
      <mat-form-field appearance="fill" class="half">
        <mat-label>Resultado Local</mat-label>
        <input matInput formControlName="resultadoLocal" type="number" [readonly]="!isEditor"
        [ngClass]="{ 'readonly-input': !isEditor }"/>
      </mat-form-field>

      <mat-form-field appearance="fill" class="half">
        <mat-label>Resultado Visitante</mat-label>
        <input matInput formControlName="resultadoVisitante" type="number" [readonly]="!isEditor"
        [ngClass]="{ 'readonly-input': !isEditor }"/>
      </mat-form-field>
    </div>

    <div class="map-buttons">
      <button mat-stroked-button color="primary"
              type="button"
              (click)="openMapPicker()"
              *ngIf="isEditor">
        Marcar en el mapa
      </button>
      <button mat-stroked-button color="accent"
              type="button"
              (click)="viewOnMap()"
              *ngIf="agregarPartido.value.lat">
        Ver en el mapa
      </button>
    </div>

    <mat-dialog-actions align="end" class="actions">
      <button mat-button (click)="onCancel()">Cancelar</button>
      <button mat-flat-button color="primary"
              type="submit"
              [disabled]="!isEditor || agregarPartido.invalid">
        Aceptar
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
