.partidos {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(151, 255, 109);
    color: black;
    border-radius: 10px;
    padding: 10px;
    border: none !important;
    box-shadow: none !important;
}

.partidos:hover {
    background-color: rgb(86, 245, 24);
}

.medio {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

::ng-deep .fc-button.fc-prev-button, 
::ng-deep .fc-button.fc-next-button {
    background-color: rgb(151, 255, 109) !important;
    color: white !important;
    border: none !important;
    box-shadow: none !important;
}

::ng-deep .fc-col-header-cell-cushion {
    color: black !important;
    text-transform: capitalize;
}

::ng-deep .fc-col-header-cell {
    background-color: rgb(72, 255, 0) !important;
}

::ng-deep .fc-button.fc-prev-button:hover, 
::ng-deep .fc-button.fc-next-button:hover {
    background-color: rgb(86, 245, 24) !important;
}

::ng-deep .fc-toolbar-title {
    text-transform: capitalize;
    color: black;
}

:host ::ng-deep .fc-daygrid-day {
    border: 1px solid #ccc;
}

::ng-deep .fc-daygrid-day-number {
    color: black !important;
}

::ng-deep .fc-daygrid-day.fc-day-today {
    background-color: rgb(151, 255, 109) !important;
}

::ng-deep .fc-daygrid-day.fc-day-past {
    background-color: rgb(121, 121, 121) !important;
}

::ng-deep .fc-daygrid-day.fc-day-future {
    background-color: rgb(221, 228, 219) !important;
}

::ng-deep .fc-event {
    cursor: pointer;
}