<app-navbar></app-navbar>
<div class="container text-center">
    <div *ngIf="jugador !== undefined">
        <h3 class="mt-5">{{ jugador.nombre }} {{ jugador.apellidos }}</h3>
        <hr>
        <h5 class="mb-5">Información sobre el jugador</h5>
        <div>
            <ul>
                <li class="mb-2"> <strong>Edad:</strong> {{ jugador.edad }} años</li>
                <!-- <li class="mb-2"> <strong>Posición: </strong> {{ jugador.posicion }} </li>
                <li class="mb-2"> <strong>País de Origen: </strong> {{ jugador.pais }} </li>
                <li class="mb-2"> <strong>Equipo: </strong> {{ jugador.equipoId }} </li> -->
            </ul>
        </div>
        
        <div class="text-center">
            <button type="button" routerLink="/Jugadores" class="volver btn btn-secondary">Volver</button>
        </div>
    
    </div>
</div>
